In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
stud = pd.read_csv("data2.csv")
stud

In [ ]:
stud.isnull().sum()

In [ ]:
stud['writing score'].mean()

In [ ]:
series = pd.isnull(stud["math score"])
stud[series]

In [ ]:
series1 = pd.notnull(stud["math score"])
stud[series1]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
stud['gender'] = le.fit_transform(stud['gender'])
newstud=stud
stud

In [ ]:
missing_values = ["Na", "na"," "]
stud = pd.read_csv("data2.csv", na_values = missing_values)
stud

In [ ]:
nstud=stud
nstud.fillna(0)
nstud

In [ ]:
stud['reading score'] = stud['reading score'].fillna(stud['reading score'].mean())
stud

In [ ]:
stud['math score'] = stud['math score'].fillna(stud['math score'].mean())
stud

In [ ]:
stud['writing score']= stud['writing score'].fillna(stud['writing score'].mean())
stud

In [ ]:
stud['Placement Score']= stud['Placement Score'].fillna(stud['Placement Score'].mean())
stud

In [ ]:
stud['Region']=stud['Region'].replace('na','nashik')
stud['Region']=stud['Region'].replace('Na','pune')
stud['Region']=stud['Region'].replace(np.nan,'pune')
stud

In [ ]:
le = LabelEncoder()
stud['gender'] = le.fit_transform(stud['gender'])

In [ ]:
newstud = stud
newstud

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('data22.csv')

In [ ]:
df.isnull().sum()

In [ ]:
columns =['math score' ,'reading score','writing score','placement score']

In [ ]:
df.boxplot(columns)

In [ ]:
print(np.where(df['math score']>90))
print(np.where(df['reading score']<25))
print(np.where(df['writing score']<30))

In [ ]:
fig ,ax = plt.subplots()
ax.scatter(df['placement score'], df['placement offer count'])
ax.set_xlabel('placement score')
ax.set_ylabel('placement offer count')

plt.show()

In [ ]:
from scipy import stats
z = np.abs(stats.zscore(df['math score']))
threshold = 0.20
sample_outliers = np.where(z <threshold)
sample_outliers

In [ ]:
sorted_rscore= sorted(df['reading score'])
sorted_rscore

In [ ]:
q1 = np.percentile(sorted_rscore, 25)

In [ ]:
q3 = np.percentile(sorted_rscore, 75)
print(q1,q3)

In [ ]:
IQR = q3-q1

In [ ]:
lwr_bound = q1-(1.5*IQR)
upr_bound = q3+(1.5*IQR)
print(lwr_bound, upr_bound)

In [ ]:
r_outliers = []
for i in sorted_rscore:
  if (i<lwr_bound or i>upr_bound):
    r_outliers.append(i)
print(r_outliers)